body{
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;
  color: #5c5c5c;
  padding: 0 20 0 20;
}

#poll{
  width: 100%;
  overflow-x: scroll;
  position: relative;
}

#poll-divider{
  height: 2px;
  background-color: #e3eff9;
  position: absolute;
  top: 0px;
  right: 50%;
  transform: translate(50%);
}

table{
  table-layout:fixed;
  border-spacing: 0px;
}

table, th, td {
  padding: 0px;

  border-style: solid;
    border-width: 0 1.5 1.5 0;
    border-color: white;
}

td:first-child {
  width:250px;
  min-width:250px;
  max-width:250px;
}

td {
  width:72px;
  min-width:72px;
  max-width:72px;
}

.display-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10 0 10 0;
}

.display-date-day {
    font-size: 1.7rem;
    font-weight: bold;
}

.display-date-weekday {
    font-style: italic;
    font-size: 0.9rem;
}

/*#checkbox-row td:first-child div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #afd8ff;
  padding: 8 24 8 24;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}*/

#checkbox-row td:first-child div {
    background-color: #afd8ff;
    width: 100%;
    position: relative;
    height: 100%;
}

#checkbox-row td{
  height:53px;
}

/*#participant-name{
  width: 0px;
  flex: 3 auto;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  outline: none;
}*/

#participant-name{
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  height: 30px;
  outline: none;
  width: 161px;
  position: absolute;
  left: 13px;
  bottom: 50%;
  transform: translate(0, 50%);
  box-sizing: border-box;
  padding: 0 0 0 10;
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
  color: #676b83;
}

#participant-name:focus,
#participant-name:hover
{
  outline-width: 2px;
  outline-color: #455ea9;
  outline-style: solid;
}

/*#checkbox-row td:first-child div:hover,
#checkbox-row td:first-child div:focus-within
{
    background-color: #bfe0ff;
}*/

/*#submit{
  width: 0px;
  flex: 1 auto;
  border-style: none;
  border-radius:5px;
}*/

#submit {
  border-style: none;
  border-radius: 5px;
  height: 29px;
  right: 10px;
  width: 55px;
  position: absolute;
  bottom: 50%;
  font-family: 'Roboto';
  font-weight: 400;
  color: white;
  background-color: #759cc1;
  transform: translate(0, 50%);
}

#submit:hover{
  transform: translate(0, 50%) scale(110%, 110%);
  background-color: #466e94;
  box-shadow: 0px 3px 5px 0px rgb(71 109 145 / 51%);
}

tr.participant td{
  height:43px;
  background-color: #f2f9ff;
}

tr.participant td:first-child{
  background-color: inherit;
  padding: 0 0 0 20;
  max-width: 210px;
  height: 43px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0 0 2 2;
  border-color: #e3eff9;
  position: relative;
}

tr.participant td:first-child:hover .edit-button{
  display: block;
}

.edit-button {
  display: none;
  border-style: none;
  border-radius: 20px;
  height: 30px;
  right: 26px;
  width: 30px;
  position: absolute;
  bottom: 50%;
  font-family: 'Roboto';
  font-weight: 400;
  color: white;
  background-color: #e3f1fe;
  transform: translate(50%, 50%);
}

.edit-button:hover{
  transform: translate(50%, 50%) scale(110%, 110%);
  background-color: #afd8ff;
  box-shadow: 0px 3px 5px 0px rgb(71 109 145 / 51%);
}

#abort-edit-wrapper{
  margin: auto;
  height:10px;
  position: relative;
}

#abort-edit {
  border-style: none;
  border-radius: 5px;
  height: 29px;
  width: 134px;
  font-family: 'Roboto';
  font-weight: 400;
  color: white;
  background-color: #fb7b7b;
  margin-top: 15px;
  position: absolute;
  right: 73px;
  transform: translate(50%,0);
}

#abort-edit:hover {
  transform: translate(50%, 0%) scale(110%, 110%);
  background-color: #e35151;
  box-shadow: 0px 3px 5px 0px rgb(71 109 145 / 51%);
}

.green-checkmark{
  background-color: #a0ffad;
}

.orange-checkmark-tentative{
  background-color: #ffea96;
}

.green-checkmark,
.orange-checkmark-tentative
{
  position: relative;
  width: 100%;
  height: 100%;
}

.green-checkmark svg,
.orange-checkmark-tentative svg
{
  position: absolute;
  right:50%;
  bottom:50%;
  transform:translate(50%,50%);
}


.triple-state-checkbox{
  background-color: #afd8ff;
  position: relative;
  width: 100%;
  height: 100%;
}

.triple-state-checkbox svg{
  position: absolute;
  right:50%;
  bottom:50%;
  transform:translate(50%,50%);
}

.triple-state-checkbox:hover {
    background-color: #bfe0ff;
}

.triple-state-checkbox:hover .checkfield{
  border-width: 2px;
  border-color: #455ea9;
  border-style: solid;
}

.checkfield{
  position: absolute;
  width: 25;
  height: 25;
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
  border-radius: 6px;
  background-color: #ffffff;
}

.checkfield .icon{
  width:20px;
  height:20px;
}

.not-going .icon-checkmark,
.not-going .icon-checkmark-tentative,
.going .icon-checkmark-tentative,
.going-tentative .icon-checkmark
{
  display: none;
}

.display-date.going{
  background-color: #a0ffad;
}

.display-date.going-tentative{
  background-color: #ffea96;
}

.icon{
  width:30px;
  height:30px;
}

#poll-title{
  font-family: 'Roboto';
  font-size: 3rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

#poll-location,
#poll-description,
#tentative-explanation{
  max-width: 600px;
  padding-left: 40px;
  margin: 0 auto 30px auto;
  position: relative;
}

#tentative-explanation .icon{
  width:25px;
  height:25px;
}

#poll-description{
    margin: 0 auto 50px auto;
}

#poll-location .icon,
#poll-description .icon,
#tentative-explanation .icon
{
  position: absolute;
  top: 1rem;
  left: 0;
  transform: translate(0, -70%);
}

#poll-location .icon .b,
#poll-description .icon .b,
#tentative-explanation .icon .b
{
  stroke:#8cb4d9;
}

.icon-checkmark-tentative .b{
  stroke: #e8a126;
}

.icon-checkmark .b{
  stroke: #25a96e;
}

.icon-edit-pen .b{
  fill: #759cc1;
  stroke: none;
}

.edit-button:hover .icon-edit-pen .b{
  fill: #466e94;
  stroke: none;
}

.icon-edit-pen{
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  width: 25px;
}

#poll table{
  margin: 20px auto 0 auto;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.styled-scrollbars {
  scrollbar-color: #759cc1 #afd8ff;
  scrollbar
}
.styled-scrollbars::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: #759cc1;
  border-radius: 5px;
}
.styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: #afd8ff;
  border-radius: 5px;
}
.styled-scrollbars::-webkit-scrollbar-button { /* buttons */
  display:none;
}
