body{
  font-family: 'Roboto', sans-serif;
}

.tox-notification/*,
/*.tox-statusbar,
.tox-menubar*/
{
  display: none !important;
}

.tox-statusbar{
    border: none !important;
    height: 0px !important;
    overflow: visible !important;
}

.tox-statusbar__text-container{
  display: none !important;
}

.daterangepicker{
  display: flex !important;
}

#daterange{
  display: none;
}

.tox-tinymce{
  margin: auto;
  margin-top:20px;
  max-width: 600px;
  border-radius: 5px !important;
}

.daterangepicker{
  margin:auto;
  margin-top:20px;
}

#text-settings-table td:first-child{
  padding-right:30px;
}

input{
  height: 25px;
  border-radius: 5px;
  border-color: #c1c1c1;
  border-style: solid;
  border-width: 1px;
}

#row-poll-link input{
  width:150px;
  margin-left: 5px;
}

#row-poll-location input,
#row-poll-title input{
   width:100%;
   width: -moz-available;          /* WebKit-based browsers will ignore this. */
   width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
   width: fill-available;
}

#text-settings-table{
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

#text-settings-table td{
  padding:0px;
}


#create-poll-button {
  border-style: none;
  border-radius: 5px;
  height: 29px;
  right: 50%;
  width: 180px;
  position: absolute;
  font-family: 'Roboto';
  font-weight: 400;
  color: white;
  background-color: #759cc1;
  transform: translate(50%, 0%);
}

#create-poll-button:hover{
  transform: translate(50%,0%) scale(110%, 110%);
  background-color: #466e94;
  box-shadow: 0px 3px 5px 0px rgb(71 109 145 / 51%);
}
