body {
  scrollbar-color: #759cc1 #afd8ff;
  scrollbar
}
body::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
body::-webkit-scrollbar-thumb { /* Foreground */
  background: #759cc1;
  border-radius: 5px;
}
body::-webkit-scrollbar-track { /* Background */
  background: #afd8ff;
  border-radius: 5px;
  margin-bottom: 18px;
}
body::-webkit-scrollbar-button { /* buttons */
  display:none;
}
